* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#slider-main {
    width: 100%;
    height: 400px; 
    overflow: hidden;
    margin: 0 auto;
}

#slider-main ul {
    display: flex;
    padding: 0;
    width: 400%; 
    animation: slide 20s infinite alternate ease-in-out;
}

#slider-main li {
    height: 100%;
    width: 100%;
    list-style: none;
    position: relative;
}

#slider-main img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

#slider-main img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

@keyframes slide {
    0% { margin-left: 0; }
    20% { margin-left: 0; }
    25% { margin-left: -120%; }
    45% { margin-left: -120%; }
    50% { margin-left: -220%; }
    70% { margin-left: -220%; }
    75% { margin-left: -320%; }
    100% { margin-left: -320%; }
}
